#container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  white-space: nowrap;
  opacity:.8;
  font-family: Helvetica, Arial, '黑体';
}

.messagebox {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 30%;
  padding: 0.2rem;
  font-size: 5rem;
  position: relative;
  overflow: hidden;
}

@keyframes exit
{
  0%   {left:0px;}
  100% {left:-12em;}
}

@media screen and (min-width: 90em) {
  .messagebox {font-size: 7.5rem; }
}

@media screen and (max-width: 64em) {
  .messagebox {
    font-size: 4rem; }
}

.imgbox {
  float: left;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 14%;
  display: none;
}

.loading {
  float: left;
  height: 100%;
  width: 14%;
  border:3px solid #ffff66;
  border-radius: 50%;
}

.dot {
  width:100%;
  height:100%;
  animation:rond .8s infinite;
}

.dot:after {
    width:10px;
    height:10px;
    position:absolute;
    top:-5px;
    left:90px;
    content:"";
    display:table;
    background-color:#f50;
    border-radius:50%;
}

@keyframes rond {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.headimg {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  border:2px solid;
  border-radius:25px;
}

.text {
  padding-left: 0.5rem;
  overflow: hidden;
  position: relative;
}

.nickname {
  color: #FFFF66;
  position: relative;
}

.content {
  position: relative;
}

#footer {
  position: relative;
  font-size: 2rem;
}

@media screen and (max-width: 64em) {
  #footer {
    font-size: 1.5rem; }
}